.back-to-top {
  position: fixed;
  display: none;
  width: 4rem;
  height: 4rem;
  border-radius: 5rem;
  -webkit-border-radius: 5rem;
  -moz-border-radius: 5rem;
  -ms-border-radius: 5rem;
  -o-border-radius: 5rem;
  right: 1.5rem;
  bottom: 1.5rem;
  background: $dark-headers-color;
  color: $main-white;

  &::selection {
    background: $dark-main-selected-background !important;
    color: $dark-main-selected-color !important;
  }
  &:hover {
    color: $main-white !important;
    background: $dark-headers-color;
  }

  transition: display 0.5s ease-in-out;
  -webkit-transition: display 0.5s ease-in-out;
  -moz-transition: display 0.5s ease-in-out;
  -ms-transition: display 0.5s ease-in-out;
  -o-transition: display 0.5s ease-in-out;
  z-index: 9999;

  i {
    font-size: 2.4rem;
    position: absolute;
    top: 0.7rem;
    left: 0.8rem;
  }
  &:hover {
    transition: background 0.2s ease-in-out;
    -webkit-transition: background 0.2s ease-in-out;
    -moz-transition: background 0.2s ease-in-out;
    -ms-transition: background 0.2s ease-in-out;
    -o-transition: background 0.2s ease-in-out;
  }
}
