/* ------------------------------------------------------------ *\
	Button
\* ------------------------------------------------------------ */

.btn {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  appearance: none;
  border: 0.2rem solid #ed1b68;
  background: none;
  color: #fff;
  min-width: 18.8rem;
  padding: 1.3rem 1rem;
  font-size: 1.8rem;
  font-weight: 700;
  transition: background 0.4s, color 0.4s;

  /*  Mobile  */

  @include breakpoint-down(mobile) {
    width: 100%;
  }

  &:hover {
    background: #ed1b68;
  }

  /*  Button Primary  */

  &--primary {
    border-color: #f26821;
    color: #343434;

    &:hover {
      background: #f26821;
    }
  }
}
