#footer {
  padding: 1.5rem;
  font-size: 1.4rem;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 30rem;
  z-index: 9999;

  @include breakpoint-down(small-desktop) {
    position: static;
    width: auto;
    padding-right: 2rem 1.5rem;
  }

  .copyright {
    text-align: center;
  }

  .credits {
    padding-top: 0.5rem;
    text-align: center;
    font-size: 1.3rem;
  }
}
