/* ------------------------------------------------------------ *\
	Form Subscribe
\* ------------------------------------------------------------ */

.form-subscribe {
  background: #fff;
  color: #343434;
  position: relative;
  width: 35.4rem;
  text-align: center;

  /*  Mobile  */

  @include breakpoint-down(mobile) {
    width: 100vw;
    background: #f7f7f7;
    padding: 2.7rem 1.8rem 2.9rem;
  }

  form {
    position: relative;
    padding: 2.9rem 2.8rem 3.5rem;

    /*  Mobile  */

    @include breakpoint-down(mobile) {
      background: #fff;
    }

    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      pointer-events: none;
      background: url(../src/assets/images/temp/frame.png) no-repeat 0 0;
      background-size: 100% 100%;
    }
  }

  label {
    display: none;
  }

  .form__body {
    position: relative;
    margin: 2.3rem 0 0;

    i {
      position: absolute;
      top: 50%;
      left: 1.5rem;
      transform: translateY(-50%);
    }
  }

  .form__field {
    width: 100%;
    border: 0.2rem solid #98ca3c;
    font-size: 1.4rem;
    font-weight: 400;
    padding: 0 5rem 0 5rem;
    height: 4.5rem;
    border-radius: 0;
    color: #343434;
  }

  .form__btn {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 4.4rem;
    border: none;
    background: #98ca3c;
    transition: opacity 0.4s;

    &:hover {
      opacity: 0.8;
    }
  }
}

// ?___________________________________________________ LTR ___________________________________________________

html[dir="rtl"] {
  .form-subscribe {
    /*  Mobile  */

    form {
      &:after {
        left: unset;
        right: 0;
      }
    }

    .form__body {
      i {
        left: unset;
        right: 1.3rem;
      }
    }

    .form__btn {
      right: unset;
      left: 0;
    }
  }
}
