/* ------------------------------------------------------------ *\
	Grid
\* ------------------------------------------------------------ */

.grid {
  display: flex;
  flex-flow: row wrap;
  margin: 0 -2rem -3rem;

  /*  Mobile  */

  @include breakpoint-down(mobile) {
    display: block;
    margin: 0;

    &:not(.slider-mobile) {
      margin: 0 !important;
    }
  }

  > .grid__col {
    max-width: 100%;
    flex: 1;
    padding: 0 2rem 3rem;

    /*  Mobile  */

    @include breakpoint-down(mobile) {
      padding: 0 !important;
      max-width: 100% !important;
    }

    /*  Grid col 1of2  */

    &--1of2 {
      max-width: 50%;
      flex: 0 0 50%;
    }

    /*  Grid col 1of3  */

    &--1of3 {
      max-width: 33.33%;
      flex: 0 0 33.33%;
    }

    /*  Grid col 2of3  */

    &--2of3 {
      max-width: 66.67%;
      flex: 0 0 66.67%;
    }

    /*  Grid col Size1  */

    &--size1 {
      max-width: 35.5%;
      flex: 0 0 35.5%;

      /*  Tablet  */

      @include breakpoint-down(tablet) {
        max-width: 50%;
        flex: 0 0 50%;
      }
    }

    /*  Grid col Size2|  */

    &--size2 {
      max-width: 64.5%;
      flex: 0 0 64.5%;

      /*  Tablet  */

      @include breakpoint-down(tablet) {
        max-width: 50%;
        flex: 0 0 50%;
      }
    }
  }

  /*  Grid Alt  */

  &--alt {
    margin: 0 -0.6rem -1.2rem;

    > .grid__col {
      padding: 0 0.6rem 1.2rem;
    }
  }

  /*  Grid Primary  */

  &--primary {
    margin: 0 -3rem -1.2rem;

    > .grid__col {
      padding: 0 3rem 1.2rem;
    }
  }
}
