/* ------------------------------------------------------------ *\
	Header
\* ------------------------------------------------------------ */
#header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 30rem;
  transition: all ease-in-out 0.5s;
  z-index: 9997;
  transition: all 0.5s;
  padding: 3rem 1.5rem 0;
  overflow-y: auto;
  background: $dark-lightest-background;

  @include breakpoint-down(small-desktop) {
    left: -30rem;
  }

  .profile {
    img {
      margin: 1.5rem auto;
      display: block;
      width: 12rem;
      height: 12rem;
      min-width: 12rem;
      min-height: 12rem;

      border: 0.8rem solid $dark-subtitles-color;
    }

    h1 {
      font-size: 2.4rem;
      margin: 0;
      padding: 0;
      font-weight: 600;
      -moz-text-align-last: center;
      text-align-last: center;
      font-family: Poppins, sans-serif;

      a,
      a:hover {
        text-decoration: none;
        color: $main-white;
      }
    }
  }

  .nav-menu {
    padding-top: 3rem;

    * {
      margin: 0;
      padding: 0;
      list-style: none;
    }

    ul > li {
      position: relative;
      white-space: nowrap;
    }
    a {
      display: flex;
      align-items: center;
      padding: 0.8rem 1.5rem;
      transition: 0.3s;
      font-size: 1.5rem;

      i {
        font-size: 2.4rem;
        padding-right: 0.8rem;
        color: $main-white;
      }
      span {
        color: $darken-white;
      }
    }

    a {
      text-decoration: none;
      color: $main-white;
      &:hover {
        text-decoration: none;
        color: $main-white;
        i {
          color: $dark-headers-color;
        }
      }
    }
    li {
      &:hover {
        a {
          text-decoration: none;
          color: $main-white;
          i,
          span {
            color: $dark-titles-color;
          }
        }
      }
    }
    .active {
      a {
        i,
        span {
          color: $dark-headers-color;
        }
      }
    }

    .theme-toggle-list-item {
      display: flex;
      align-items: center;
      padding: 0.8rem 1.5rem;

      .theme-toggle {
        -webkit-appearance: none;
        position: relative;
        cursor: pointer;

        width: 6rem;
        height: 3rem;
        background-image: url("../../img/theme-toggle/light-background.webp");
        background-size: cover;
        border-radius: 5rem;
        outline: none;
        transition: background-image 0.9s;

        &:before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          height: 3rem;
          width: 3rem;
          background-color: navy;
          border-radius: 5rem;
          transition: all 0.9s;
          background-color: #f7ca33;
        }

        &:checked {
          background-image: url("../../img/theme-toggle/dark-background.png.webp");
          transition: background-image 0.9s;

          &:before {
            transform: translate(100%);
            transition: all 0.9s;
            background-color: #ecf0f3;
          }
        }
      }
    }
  }
}
