/* ------------------------------------------------------------ *\
	Logo
\* ------------------------------------------------------------ */

.logo {
  display: inline-block;
  width: 26.2rem;

  /*  Mobile  */

  @include breakpoint-down(mobile) {
    width: 100%;
  }

  img {
    width: 100%;

    @include breakpoint-up(mobile) {
      height: 56px;
    }
  }
}
