#main {
  overflow: hidden;
  margin-left: 300px;

  section {
    margin-bottom: 80px;

    .section-title {
      padding-bottom: 30px;
      padding-top: 30px;

      .section-title h2 {
        font-size: 32px;
        font-weight: 700;
        margin-bottom: 20px;
        padding-bottom: 20px;
        position: relative;

        &::after {
          content: "";
          position: absolute;
          display: block;
          width: 50px;
          height: 3px;
          bottom: 0;
          left: 0;
        }
      }
    }
  }

  .about {
    overflow-x: hidden;

    .content {
      h3 {
        font-weight: 700;
        font-size: 26px;
      }

      ul {
        list-style: none;
        padding: 0;

        li {
          padding-bottom: 10px;
        }

        i {
          font-size: 20px;
          padding-right: 2px;
        }
      }

      p:last-child {
        margin-bottom: 0;
      }
    }
  }

  .resume {
    .resume-title {
      font-size: 26px;
      font-weight: 700;
      margin-top: 20px;
      margin-bottom: 20px;
    }

    .resume-item {
      padding: 0 0 20px 20px;
      margin-top: -2px;
      position: relative;

      &:last-child {
        padding-bottom: 0;
      }

      &::before {
        content: "";
        position: absolute;
        width: 16px;
        height: 16px;
        border-radius: 50px;
        left: -9px;
        top: 0;
      }

      a {
        font-weight: 700;
      }

      h4 {
        line-height: 18px;
        font-size: 18px;
        font-weight: 600;
        text-transform: uppercase;
        font-family: Poppins, sans-serif;
        margin-bottom: 10px;
      }

      h5 {
        font-size: 16px;
        padding: 5px 15px;
        display: inline-block;
        font-weight: 600;
        margin-bottom: 10px;
      }

      ul {
        padding-left: 20px;

        li {
          padding-bottom: 10px;
        }
      }
    }
  }

  .portfolio {
    .portfolio-item {
      margin-bottom: 30px;
      transition: all 0.5s;
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      -ms-transition: all 0.5s;
      -o-transition: all 0.5s;
      cursor: pointer;

      &:hover {
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
        transition: all 0.5s;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -ms-transition: all 0.5s;
        -o-transition: all 0.5s;
      }
    }

    #portfolio-flters {
      padding: 0;
      margin: 0 auto 35px auto;
      list-style: none;
      text-align: center;
      border-radius: 50px;
      padding: 2px 15px;

      li {
        cursor: pointer;
        display: inline-block;
        padding: 10px 15px 8px 15px;
        font-size: 14px;
        font-weight: 600;
        line-height: 1;
        text-transform: uppercase;
        margin-bottom: 5px;
        transition: all 0.3s ease-in-out;

        &:last-child {
          margin-right: 0;
        }
      }
    }

    .portfolio-wrap {
      transition: 0.3s;
      position: relative;
      overflow: hidden;
      z-index: 1;
    }
  }

  .facts {
    .count-box {
      padding: 30px;

      i {
        display: block;
        font-size: 44px;
        float: left;
      }

      span {
        font-size: 48px;
        line-height: 40px;
        display: block;
        font-weight: 700;

        margin-left: 60px;
      }

      p {
        padding: 15px 0 0 0;
        margin: 0 0 0 60px;
        font-family: Raleway, sans-serif;
        font-size: 14px;
      }

      a {
        font-weight: 600;
        display: block;
        margin-top: 20px;

        font-size: 15px;
        font-family: Poppins, sans-serif;
        -webkit-transition: ease-in-out 0.3s;
        -moz-transition: ease-in-out 0.3s;
        -ms-transition: ease-in-out 0.3s;
        -o-transition: ease-in-out 0.3s;
        transition: ease-in-out 0.3s;
      }
    }
  }

  .skills {
    .progress {
      height: 50px;
      display: block;
      background: 0 0;

      .skill {
        padding: 10px 0;
        margin: 0 0 6px 0;
        text-transform: uppercase;
        display: block;
        font-weight: 600;
        font-family: Poppins, sans-serif;

        .val {
          float: right;
          font-style: normal;
        }
      }
    }

    .progress-bar {
      width: 1px;
      height: 10px;
      -moz-transition: 0.9s;
      -ms-transition: 0.9s;
      -webkit-transition: 0.9s;
      -o-transition: 0.9s;
      transition: 0.9s;
    }
  }

  .services {
    .icon-box {
      margin-bottom: 20px;

      .icon {
        float: left;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 54px;
        height: 54px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        border-radius: 50%;
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -ms-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s;

        i {
          font-size: 24px;
        }
      }

      .title {
        margin-left: 80px;
        font-weight: 700;
        margin-bottom: 15px;
        font-size: 18px;
      }

      .description {
        margin-left: 80px;
        line-height: 24px;
        font-size: 14px;
      }
    }
  }

  .testimonials {
    .testimonials-item {
      box-sizing: content-box;
      text-align: center;
      min-height: 320px;
      margin: 0 20px;

      .testimonial-img {
        width: 90px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        margin: 0 auto;
      }

      h3 {
        font-size: 18px;
        font-weight: 700;
        margin: 10px 0 5px 0;
      }
      h4 {
        font-size: 14px;
        margin: 0;
      }

      .quote-icon-left,
      .quote-icon-right {
        font-size: 30px;
      }
      .quote-icon-left {
        display: inline-block;
        left: -5px;
        position: relative;
      }
      .quote-icon-right {
        display: inline-block;
        right: -5px;
        position: relative;
        top: 10px;
      }
      p {
        font-style: italic;
        margin: 0 15px 15px 15px;
        padding: 20px;
        position: relative;
        margin-bottom: 35px;
        border-radius: 6px;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        -ms-border-radius: 6px;
        -o-border-radius: 6px;

        &::after {
          content: "";
          width: 0;
          height: 0;
          border-right: 20px solid transparent;
          border-left: 20px solid transparent;
          position: absolute;
          bottom: -20px;
          left: calc(50% - 20px);
        }
      }
    }

    .owl-nav,
    .owl-pagination {
      margin-top: 5px;
      text-align: center;
    }

    .owl-page {
      display: inline-block;
      margin: 0 5px;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
    }
  }

  .contact {
    .info {
      padding: 30px;
      width: 100%;

      i {
        font-size: 20px;
        float: left;
        width: 44px;
        height: 44px;

        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50px;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        -ms-border-radius: 50px;
        -o-border-radius: 50px;
        transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
      }
      h4 {
        padding: 0 0 0 60px;
        font-size: 22px;
        font-weight: 600;
        margin-bottom: 5px;
      }
      p {
        padding: 0 0 10px 60px;
        margin-bottom: 20px;
        font-size: 14px;
      }

      .email {
        p {
          padding-top: 5px;
        }
      }
    }

    .email-form {
      width: 100%;
      padding: 30px;

      .form-group {
        padding-bottom: 8px;
      }

      input {
        height: 44px;
      }

      input,
      textarea {
        padding: 10px 12px;
      }

      button[type="submit"] {
        border: 0;
        padding: 10px 12px;
        transition: 0.4s;
        -webkit-transition: 0.4s;
        -moz-transition: 0.4s;
        -ms-transition: 0.4s;
        -o-transition: 0.4s;
        border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px;
      }
    }
  }
}

@media (max-width: 1199px) {
  #main {
    margin-left: 0;
  }
}


#main {
  .section-bg {
      background-color: $dark-sub-background;
  }
  .section-title {
      h2 {
          color: $dark-headers-color !important;
          &::selection {
              background: $dark-main-selected-background !important;
              color: $dark-main-selected-color !important;
          }
      }
      &::after {
          background: $dark-headers-color;
      }
  }

  .about {
      .content {
          h3 {
              color: $dark-titles-color;
              &::selection {
                  background: $dark-main-selected-background !important;
                  color: $dark-main-selected-color !important;
              }
          }

          ul {
              i {
                  color: $dark-titles-color;
                  &::selection {
                      background: $dark-main-selected-background !important;
                      color: $dark-main-selected-color !important;
                  }
              }
          }
      }
  }

  .resume {
      .resume-title {
          color: $dark-titles-color;
          &::selection {
              background: $dark-main-selected-background !important;
              color: $dark-main-selected-color !important;
          }
      }

      .resume-item {
          border-left: 2px solid $dark-headers-color;

          &::before {
              background: $main-white;
              border: 2px solid $dark-headers-color;
          }

          a {
              color: $darkest-white;
              text-decoration: underline;
              text-underline-offset: 1px;
              cursor: pointer;
          }

          h4 {
              color: $dark-subtitles-color;
              &::selection {
                  background: $dark-main-selected-background !important;
                  color: $dark-main-selected-color !important;
              }
              sub {
                  &::selection {
                      background: $dark-main-selected-background !important;
                      color: $dark-main-selected-color !important;
                  }
              }
          }

          h5 {
              background: $dark-lightest-background;
          }
      }
  }

  .portfolio {
      #portfolio-flters {
          background: $dark-main-background;

          .filter-active {
              color: $dark-titles-color !important;
              &::selection {
                  background: $dark-main-selected-background !important;
                  color: $dark-main-selected-color !important;
              }
          }

          li {
              color: inherit;

              &:hover {
                  color: $dark-titles-color !important;
                  &::selection {
                      background: $dark-main-selected-background !important;
                      color: $dark-main-selected-color !important;
                  }
              }
          }
      }
  }

  .facts {
      .count-box {
          i {
              color: $dark-headers-color;
              &::selection {
                  background: $dark-main-selected-background !important;
                  color: $dark-main-selected-color !important;
              }
          }

          span {
              color: $dark-subtitles-color;
              &::selection {
                  background: $dark-main-selected-background !important;
                  color: $dark-main-selected-color !important;
              }
          }

          p {
              color: $dark-headers-color;
              &::selection {
                  background: $dark-main-selected-background !important;
                  color: $dark-main-selected-color !important;
              }
          }

          a {
              color: $dark-subtitles-color;
              &::selection {
                  background: $dark-main-selected-background !important;
                  color: $dark-main-selected-color !important;
              }

              &:hover {
                  color: $dark-headers-color;
              }
          }
      }
  }

  .skills {
      .progress {
          .skill {
              color: inherit;
          }
      }

      .progress-bar-wrap {
          background: $darkest-white;
      }
      .progress-bar {
          background-color: $dark-titles-color;
      }
  }

  .services {
      .icon-box {
          .icon {
              background: $dark-titles-color;
              border: 1px solid $dark-titles-color;

              i {
                  color: $main-white;
              }
          }

          &:hover .icon {
              background: $dark-subtitles-color;

              // i {
              //     color: $dark-headers-color;
              // }
              border: 1px solid $dark-main-background;
          }

          .title {
              p {
                  color: $dark-titles-color;
                  &::selection {
                      background: $dark-main-selected-background !important;
                      color: $dark-main-selected-color !important;
                  }

                  &:hover {
                      color: $dark-subtitles-color;
                  }
              }
          }
      }
  }
}
