.mobile-nav-active {
  overflow: hidden !important;

  #header {
    left: 0 !important;
  }
}

.mobile-nav-toggle {
  position: fixed;
  right: 15px;
  top: 15px;
  z-index: 9998;
  border: 0;
  background: 0 0;
  font-size: 24px;
  transition: all 0.4s;
  outline: 0 !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
  i {
    color: $dark-headers-color;
    &::selection {
      background: $dark-main-selected-background !important;
      color: $dark-main-selected-color !important;
    }
  }
}
