.portfolio {
  .portfolio-item {
    margin-bottom: 3rem;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    cursor: pointer;

    &:hover {
      transform: scale(1.1);
      -webkit-transform: scale(1.1);
      -moz-transform: scale(1.1);
      -ms-transform: scale(1.1);
      -o-transform: scale(1.1);
      transition: all 0.5s;
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      -ms-transition: all 0.5s;
      -o-transition: all 0.5s;
    }
  }

  #portfolio-flters {
    padding: 0;
    margin: 0 auto 3.5rem auto;
    list-style: none;
    text-align: center;
    border-radius: 5rem;
    padding: 0.2rem 1.5rem;
    background: $dark-sub-background;
    user-select: none;

    .filter-active {
      color: $dark-titles-color !important;
    }

    li {
      cursor: pointer;
      display: inline-block;
      padding: 1rem 1.5rem 0.8rem 1.5rem;
      font-size: 1.4rem;
      font-weight: 600;
      line-height: 1;
      text-transform: uppercase;
      margin-bottom: 0.5rem;
      transition: all 0.3s ease-in-out;

      color: inherit;

      &:hover {
        color: $dark-titles-color !important;
        &::selection {
          background: $dark-main-selected-background !important;
          color: $dark-main-selected-color !important;
        }
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .portfolio-wrap {
    transition: 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
  }
}
