/* ------------------------------------------------------------ *\
	Search
\* ------------------------------------------------------------ */

.search {
  position: relative;
  width: 29.5rem;
  border-left: 0.1rem solid #d8d8d8;

  /*  Mobile  */

  @include breakpoint-down(mobile) {
    border: none;
    padding: 1rem;
  }

  .search__field {
    width: 100%;
    height: 4.8rem;
    border: none;
    font-size: 1.5rem;
    font-weight: 700;
    color: #909090;
    padding: 0 1rem 0 4.4rem;
    border-radius: 0;
    background: none;

    /*  Mobile  */

    @include breakpoint-down(mobile) {
      background: #fff;
      height: 4.3rem;
      padding: 0 4rem 0 1.9rem;
    }
  }

  .search__btn {
    border: none;
    background: none;
    position: absolute;
    top: 50%;
    left: 1.5rem;
    transform: translateY(-50%);
    transition: opacity 0.4s;

    /*  Mobile  */

    @include breakpoint-down(mobile) {
      left: auto;
      right: 3rem;
    }

    &:hover {
      opacity: 0.8;
    }
  }
}

// ?___________________________________________________ LTR ___________________________________________________

html[dir="rtl"] {
  .search {
    border-left: none;
    border-right: 0.1rem solid #d8d8d8;

    .search__field {
      padding: 0 1rem 0 4.4rem;
    }

    .search__btn {
      left: 1.5rem;
      transform: translateY(-50%);

      /*  Mobile  */

      @include breakpoint-down(mobile) {
        left: auto;
        right: 3rem;
      }
    }
  }
}
