.skills {
  .container {
    .skills-content {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;

      .skill {
        margin: 3rem;
        text-align: center;
        transition: transform 0.5s;

        &:hover {
          transform: scale(1.2);
        }

        img {
          height: 8rem;
          width: 8rem;
          margin-bottom: 2rem;
          user-select: none;
        }

        h5 {
          font-weight: 700;
          font-size: 1.65rem;
        }
      }
    }
  }
}
