.social-links {
  a {
    font-size: 18px;
    display: inline-block;

    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;

    &:hover {
      text-decoration: none;
    }
  }
}

.social-links {
  a {
    background: $dark-subtitles-color;
    color: $c-white;

    &:hover {
      background: $dark-headers-color;
      color: $black !important;
    }
  }
}
