.check-container {
  padding: 2rem;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $dark-main-background;

  .check {
    width: 100vw;

    .checkmark {
      max-width: 5.6rem;
      max-height: 5.6rem;
      border-radius: 5rem;
      stroke-width: 2;
      stroke: #fff;
      stroke-miterlimit: 10;
      margin: 0 auto;
      box-shadow: inset 0 0 0 #b30000;
      animation: fill 0.4s ease-in-out 0.4s forwards,
        scale 0.3s ease-in-out 0.9s both;
      -webkit-border-radius: 50p;
      -moz-border-radius: 50p;
      -ms-border-radius: 50p;
      -o-border-radius: 50p;

      .checkmark__circle {
        margin: auto;
        stroke-dasharray: 166;
        stroke-dashoffset: 166;
        stroke-width: 2;
        stroke-miterlimit: 10;
        stroke: #b30000;
        fill: none;
        animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
      }

      .checkmark__check {
        transform-origin: 50% 50%;
        stroke-dasharray: 48;
        stroke-dashoffset: 48;
        animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
        -webkit-animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s
          forwards;
      }
    }
  }

  h2 {
    color: #dddddd;
    margin-top: 5vh;
    margin-bottom: 1rem;
    font-size: 3rem;
  }

  p {
    color: #bbbbbb;
    font-size: 2rem;
  }

  * {
    text-align: center;
  }

  .landingButton {
    position: relative;
    display: inline-block;
    margin-top: 2rem;
    margin-bottom: 2rem;
    min-width: 20rem;
    min-height: 5rem;
    line-height: 4.5rem;
    border-radius: 5rem;
    border: 0.2rem solid #b30000;
    font-size: 1.6rem;
    font-weight: 700;
    font-family: Raleway, sans-serif;
    text-decoration: none;
    letter-spacing: 0.2rem;
    text-align: center;
    overflow: hidden;
    color: #cccccc !important;

    span {
      z-index: 3;
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
    }

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 2;
      opacity: 0;
      background-color: #b30000;
      transition: all 0.7s;
      transform: scale(0, 1.1);
      border-radius: 5rem;
      transform-origin: center;
    }

    &:hover {
      span {
        color: #fff;
        transition-duration: 1.2s;
      }

      &:before {
        opacity: 1;
        transform: scale(1.1, 1);
      }
    }
  }
}

.success-footer {
  margin-bottom: 0;
  width: 100vw;
  height: 25vh;
  background: #080808;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #eee;
}

@media screen and(max-width:384px) {
  .checkmark {
    min-width: 5.6rem;
    min-height: 5.6rem;
  }
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes scale {
  0%,
  100% {
    transform: none;
  }
  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}
@keyframes fill {
  100% {
    box-shadow: inset 0 0 0 3rem #b30000;
  }
}
