.testimonials {
  .testimonials-item {
    h3 {
      color: $darken-white;
    }
    h4 {
      color: $darkest-white;
    }

    .quote-icon-left,
    .quote-icon-right {
      color: $dark-subtitles-color;
      &::selection {
        background: $dark-main-selected-background !important;
        color: $dark-main-selected-color !important;
      }
    }

    p {
      background: $main-white;

      &::after {
        border-top: 2rem solid $main-white;
      }
    }
  }

  .owl-page {
    background-color: $darken-white !important;
  }

  .owl-pagination {
    .active {
      background-color: $dark-headers-color !important;
      &::selection {
        background: $dark-main-selected-background !important;
        color: $dark-main-selected-color !important;
      }
    }
  }
}

.testimonials {
  .testimonials-item {
    box-sizing: content-box;
    text-align: center;
    min-height: 32rem;
    margin: 0 2rem;

    .testimonial-img {
      width: 9rem;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      margin: 0 auto;
    }

    h3 {
      font-size: 1.8rem;
      font-weight: 700;
      margin: 1rem 0 0.5rem 0;
    }
    h4 {
      font-size: 1.4rem;
      margin: 0;
    }

    .quote-icon-left,
    .quote-icon-right {
      font-size: 3rem;
    }
    .quote-icon-left {
      display: inline-block;
      left: -0.5rem;
      position: relative;
    }
    .quote-icon-right {
      display: inline-block;
      right: -0.5rem;
      position: relative;
      top: 1rem;
    }
    p {
      font-style: italic;
      margin: 0 1.5rem 1.5rem 1.5rem;
      padding: 2rem;
      position: relative;
      margin-bottom: 3.5rem;
      border-radius: 0.6rem;
      -webkit-border-radius: 0.6rem;
      -moz-border-radius: 0.6rem;
      -ms-border-radius: 0.6rem;
      -o-border-radius: 0.6rem;

      &::after {
        content: "";
        width: 0;
        height: 0;
        border-right: 2rem solid transparent;
        border-left: 2rem solid transparent;
        position: absolute;
        bottom: -2rem;
        left: calc(50% - 2rem);
      }
    }
  }

  .owl-nav,
  .owl-pagination {
    margin-top: 0.5rem;
    text-align: center;
  }

  .owl-page {
    display: inline-block;
    margin: 0 0.5rem;
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
  }
}
