/* ------------------------------------------------------------ *\
	Widget Alt
\* ------------------------------------------------------------ */

.widget-alt {
  /*  Tablet  */

  @include breakpoint-down(tablet) {
    display: none;
  }

  &--primary {
    background: #f7f7f7;
    padding: 4.3rem 0;
    text-align: center;
  }
}

/* ------------------------------------------------------------ *\
	Widget Avatar
\* ------------------------------------------------------------ */

.widget-avatar {
  display: flex;
  align-items: center;

  h6 {
    padding-left: 0.7rem;
  }

  .widget__image {
    width: 2.2rem;
    height: 2.2rem;
    background-size: cover;
    background-position: center center;
    border-radius: 50%;
  }
}

/* ------------------------------------------------------------ *\
	Widget Video
\* ------------------------------------------------------------ */

.widget-video {
  position: relative;
  margin-bottom: 2rem;

  /*  Mobile  */

  @include breakpoint-down(mobile) {
    width: 100vw;
    margin-left: -1.8rem;
    padding-top: 62%;
    margin-bottom: 1.3rem;
  }

  .widget__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
  }

  .widget__btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    margin: -0.9rem 0 0 -0.8rem;
    transition: opacity 0.4s;

    &:hover {
      opacity: 0.7;
    }
  }
}

// ?___________________________________________________ LTR ___________________________________________________

html[dir="rtl"] {
  .widget-avatar {
    h6 {
      padding-right: 0.7rem;
      padding-left: 0;
      font-size: 1.5rem;
    }
  }

  .widget-video {
    /*  Mobile  */

    @include breakpoint-down(mobile) {
      margin-right: -1.8rem;
      margin-left: 0;
    }

    .widget__image {
      right: 0;
      left: unset;
    }

    .widget__btn {
      left: 50%;
      margin: -0.9rem -0.8rem 0 0;
    }
  }
}
