.section {
    margin-top: 4rem;
    width: 100%;

    .shell {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 60%;
        margin: 0 auto;

        @include breakpoint-down(tablet) {
            padding: 0 2rem;
            width: 100%;
        }

        h2 {
            color: #fff;
        }

        hr {
            width: 40%;
            margin: 0;
            border: 0.5px solid #fff;
        }
    }
}
