/* ------------------------------------------------------------ *\
	Base
\* ------------------------------------------------------------ */
@import url(https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap);

html {
  font-size: 62.5%;

  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
}

body {
  min-width: 32rem;
  font-weight: $font-weight-base;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $darkest-white;
  background: $dark-main-background;

  font-family: "Open Sans", sans-serif;
  overflow: overlay;
  margin: 0;

  *::selection:not(button) {
    background: $dark-minor-selected-background;
    color: $dark-minor-selected-color;
  }

  a {
    // color: $dark-headers-color;
    &::selection:not(:hover) {
      background: $dark-main-selected-background !important;
      color: $dark-main-selected-color !important;
    }

    &:hover {
      color: $dark-subtitles-color !important;
    }
  }

  &::-webkit-scrollbar {
    width: 10px;
    border-radius: 10px;
    overflow: hidden;
  }
  &::-webkit-scrollbar-button {
    display: none;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: $dark-headers-color;
  }
  &::-webkit-scrollbar-track {
    margin: 0;
    background: rgba(0, 0, 0, 0.2);
  }

  &::-webkit-resizer {
    display: none;
  }
}

a {
  color: inherit;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }

  &[href^="tel"] {
    text-decoration: none;
  }
}

.h1,
h1,
.h2,
h2,
.h3,
h3,
.h4,
h4,
.h5,
h5,
.h6,
h6 {
  font-family: Raleway, sans-serif;
}
