//Variables
$font-size-base: 1.6rem;
$font-weight-base: 400;
$line-height-base: 1.5;

$ff-sans-serif: "Inter", Helvetica, Arial, sans-serif;
$ff-sans-serif-ar: Arial, sans-serif;
$ff-serif: Georgia, "Times New Roman", Times, serif;

$t-duration: 0.4s;

$shell-max-width: 122.8rem;
$shell-gutter: 1.8rem;

$c-black: #000;
$c-white: #fff;
$c-base: #055590;

$c-ue: #404059;
$c-cpp: #0000a0;
$c-bp: #f5004c;
$c-vr: #00a1a1;

$main-white: darken(#ffffff, 2%);
$darken-white: darken(#ffffff, 5%);
$darkest-white: darken(#ffffff, 7%);

$darkest-white-anchor: darken(#ffffff, 30%);

$black: #000;

$dark-main-background: lighten(#000000, 3%);
$dark-sub-background: lighten(#000000, 6%);
$dark-lightest-background: lighten(#000000, 9%);

$dark-headers-color: darken(#ff0000, 5%);
$dark-titles-color: darken(#ff0000, 10%);
$dark-subtitles-color: darken(#ff0000, 15%);

$dark-main-selected-background: #ffffff;
$dark-main-selected-color: #000000;

$dark-minor-selected-background: darken(#ff0000, 20%);
$dark-minor-selected-color: darken(#ffffff, 7%);

$responsive-ios: 812px;

$breakpoints: (
  mobile-small: 374px,
  mobile-medium: 575px,
  mobile: 767px,
  admin-bar: 782px,
  tablet: 1023px,
  small-desktop: 1199px,
  large-desktop: 1365px,
);
